.services-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;

    .services-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 1rem;
        text-align: center;

        .service{
            display: flex;
            flex-direction: column;
            padding: 30px 10px;
            background-color: #ECECEC;
            gap: 20px;
            border-radius: 12px;

            .service-header{
                margin: 0;
            }
        }
    }

    .specialties-tools-box{
        display: flex;
        width: 80%;
        justify-content: space-between;
        gap: 40px;

        .specialties{
            background-color: #ECECEC;
            border-radius: 12px;

            .specialties-header{
                padding: 20px 20px 0;
                margin: 0;
            }

            .specialties-list{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 20px;
                margin: 0;
                .specialty{
                    font-size: 24px;
                }
            }
        }

        .tools-wrapper{
            .tools-header-container{
                padding: 0px 0px 20px;

            }

            .tools-grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                color: white;

                .tool{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px;
                    height: 80px;

                    .tool-name{
                        padding: 0px 12px;
                        font-size: 24px;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}