.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    overflow: hidden;


    .header-box {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-info{
            width: 12vw;
            font-size: 20px;

            .location, .phone, .linked-in{
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        .logo{
            width: 15vw;
            height: auto;
        }
    }

    .links-box {
        width: 100%;
        height: auto;

        .links {
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .link {
                padding: 8px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px; 
                
                .link-container{
                    height: 100%;
                    width: 100%;
                    padding: 8px 40px;
                    transition: 0.3s ease;
                    text-decoration: none;
                    color: black;

                    &:hover{
                        background-color: #DDDDDD;
                    }

                    .link-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%; 
                        text-decoration: none; 
                        font-size: 16px; 
                        line-height: 1; 
                        color: inherit;
                    }
                }
            }
        }
    }
}
